.Rproj.user
.Rhistory
.RData
.Ruserdata
Rb77U9hN_400x400.jpg
cv.rmd
.httr-oauth-salesforcer


# private 
data/
foto/
zzz_scarto/
.vscode/
04_CV_vitae_LONG/[Lorena]awesome_longCV.Rmd
04_CV_vitae_LONG/[Lorena]awesome-cv.cls

# Output files from R CMD build
/*/*.log
/*/*.aux
/*/*.out