.Rproj.user
.Rhistory
.RData
.Ruserdata
Rb77U9hN_400x400.jpg
cv.rmd
.httr-oauth-salesforcer


# private 
data/
foto/
zzz_scarto/


# Output files from R CMD build
/02_CV_Rmarkdown_ITA/*.log
/02_CV_Rmarkdown/*.log
